<h1>Спосіб оплати: <%= @payment_method.name %></h1>
<%= link_to "Редагувати", edit_payment_method_path(@payment_method), class: "btn btn-warning" %>
<%= link_to "Назад", payment_methods_path, class: "btn btn-secondary" %>
